
/*======================================================
  01 Das umgebende DIV gestalten
  ====================================================== */
#navibereich {
	width: 100%;
	/*background-color: #A28B77;*/
	background-color:  #232323;
	height: auto;
	min-height: 3.2em;
	border-bottom: 0px solid #8c8c8c;
}

#filler {
   clear: both;
	float: left;
	width: 0px;
  	height: auto;
	min-height: 3.2em;
	padding-left: 140px;
}

#navi {
  	float: left;
	width: auto;
	border-top: 0px solid transparent;	/* default: ein Oberstrich */
	border-bottom: 0px solid transparent;	/* default: ein Unterstrich */
  	display: table; 
/*	background-color: #A28B77; */
	background-color:  #232323;
}

#navi.right {
  	float: right;
}

#navi.left {
  	float: left;
}

/*======================================================
  02 die ungeordnete Liste in Ebene 1 gestalten
  ======================================================*/
.ebene01 {
/*	background-color: #A28B77; */
	background-color:  #232323;
}

#navi ul {
  	margin: 0;
  	padding: 0;	
	text-align: center;
/*	background-color: #A28B77; */
	background-color:  #232323;
}

#navi li {
 	margin: 0;
  	padding: 0;	
	float: left; 
	list-style-type: none;
	width: auto;
}

a:hover, a:active {
 	color: #FFFFFF;
/*  	background-color: #8c8c8c; */
}


.navi {
	font-family: Arial, Helvetica, sans-serif;
/*	background-color: #A28B77; */
	background-color:  #232323;
	line-height: auto;
	font-size: 1.8em;
}

/*======================================================
  03 Hyperlinks der Ebene 1 gestalten
  ======================================================*/

#navi li a {
	display: block;
  	padding: 0.2em 0.2em;
}

#navi a:hover {
/*	background-color: #8c8c8c; */
}

#navi a:active {
	font-weight: normal;
}

#navi a.active {
	color: #ffffff;
}

/*======================================================
  04 Ebene 2 verstecken
  ====================================================== */
#navi li ul
{
	position: absolute;
	left: -9999px;	
	top: -9999px;
	display: inline;
	width: 0;
	height: 0;
}  

/*======================================================
  05 Ebene 2 sichtbar machen
  li.sfhover ist ein Workaround für IE < Version 7 --> suckerfish.js
  ====================================================== */
#navi li:hover ul,
#navi li.sfhover ul
{
	left: auto;
	top: auto;
	display: block;
	height: auto;
	width: 4.7em;
}

/* ==============================================
   06 Die Rausklappliste korrekt einfärben
   ==============================================*/
.ebene02 li {
	height: 1.005em;
}

#navi ul.ebene02 li a { 
    border-top: 1px solid  #d7d2d1;
	border-left: 0.7em solid  #d7d2d1;
	font-size: 0.5em;
	text-align: left;
	padding: 0.4em 0.3em 0.3em 0.4em;
	width: 10em;
 }

/* hover im Dropdown-Menu*/ 
#navi ul.ebene02 li a:hover { 
	background-color: #dedede;
	color: #448;
}
