
/*======================================================
  01 Das umgebende DIV gestalten
  ====================================================== */
#navibereich {
  position: relative;
  top: -15px;
  left: 0px;
  margin: 0 auto;
  width: 930px;
  height: 23px;
  line-height: 14px;
  background-color: #2E5068;
}

#filler {
  float: left;
  width: 0px;
  height: 25px;
  cursor: pointer;
}

#navi {
  float: left;
  width: auto;
  display: table; 
  
}

.ebene01 {
  background-color: transparent;
}

#navi.right {
  float: right;
}

#navi.left {
  float: left;
}

/*======================================================
  02 die ungeordnete Liste in Ebene 1 gestalten
  ======================================================*/
#navi ul {
  margin: 0;
  padding: 0;	
  text-align: center;
}

#navi li  {
  margin: 0;
  float: left; 
  list-style-type: none;
  width: auto;
  line-height: 23px;
}

#navi li li {
  clear: both;
}

/* Bereich auf #navi zum Auf/zuklappen des Headerbereiches */
#klappe {
  float: right;
  line-height: 23px;  
  position: absolute;
  right: 30px;
}

#klappe .collapse {
  position: absolute;
  background: url("../../../shared/gifs/collapse.gif") no-repeat 0 5px transparent;
  width: 16px;
  height: 15px;
  }

#klappe .expand {
  position: absolute;
  background: url("../../../shared/gifs/expand.gif") no-repeat 0 5px transparent;
  width: 16px;
  height: 15px;
  }

#navi ul li.navi, #klappe ul li.navi, #sprachen ul li.navi {
  display: inline;
  color: #FFFFFF;
}

#navi ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  display: inline;
}

#navi ul li a:hover {
  font-weight: normal;
  font-style: normal;
  color: #FFFF66; /* #FF9933; */
  text-decoration: none;
}

/*======================================================
  03 Hyperlinks der Ebene 1 gestalten
  ======================================================*/
#navi a, #klappe a, #sprachen a {
  color: #FFFFFF;
  background-color: transparent; /*#2E5068;*/
  padding: 0.3em 1em;
  font-weight: normal;
}

#navi a:hover, #klappe a:hover, #sprachen a:hover {
  color: #FFFF66; /* #FF9933; */
  background-color: transparent;
  text-decoration: none;
}

#sprachen a:hover {
  color: #ffff66; 
}

/* ==========================================================================================
  Spezifitaet erhoehen -> nuetzt aber leider nur, solange der Cursor mit gedruecketer Maustaste ï¿½ber dem Link ist.
  Damit der Link Weiss mit schwarzer Schrift bleibt, muss in nav.php die CSS-Klasse .active gesetzt werden. 
  ========================================================================================= */
#navi li a.active, #klappe li a.active, #sprachen li a.active 
{
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 15px;
  color: #FFFF66 !important;
  text-decoration: none;
}

#sprachen li a.active 
{
  color: ffff66 !important; 
}
/*======================================================
  04 Ebene 2 verstecken
  ====================================================== */
#navi li ul
{
  position: absolute;
  left: -9999px;	
  top: -9999px;
  display: inline;
  width: 0;
  height: 0;
}  

/*======================================================
  05 Ebene 2 sichtbar machen
  li.sfhover ist ein Workaround fuer IE < Version 7 --> suckerfish.js
  ====================================================== */
#navi li:hover ul,
#navi li.sfhover ul
{
  left: auto;
  top: auto;  
  display: block;
  height: auto;
  width: auto;
  padding: 0.4em 0em; 
  background-color: #2E5068;
  border-bottom: 5px solid yellow;
}

/* ==============================================
 06 Die Rausklappliste korrekt einfaerben
 ==============================================*/
/* Spezifitaet erhoehen */
#navi ul#ebene01 ul.ebene02 li a {
  color: #ffffff !important;
  background-color: #2E5068 !important;
}

#navi ul#ebene01 ul.ebene02 li a:hover {
  color: #d90000 !important;
  background-color: #FFFF66 !important;
}

