/* zurücksetzen der Innen und Aussenabstände für alle Html Elemnte */
 * {
 margin:0; padding: 0
 }
 
/* (de) Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern */
html{
  height: 100%
}

body{
	height: 100%;
	/* (de) Vorgabe der Standardfarben und Textausrichtung */
	color: #232323;
	background-color: #F9F9F9;
	text-align: left;
}

/* das folgende Statemant verhindert, dass ein Link umrahmt wird, wenn man draufklickt */
*:focus, *:active  {
	outline: none; 
}


/* (de) Layout: Breite, Hintergrund, Rahmen */

#page_margins
{
height: 100%;
width: 960px;
margin: 20px auto;
border: 0px;
}

#page
{
height: 600px;
min-height: 600px;
}



/* (de) Zentrierung des Layouts in alten IE-versionen */
body
{
text-align: center;
}
#page_margins
{
text-align:left;
}
  
#header
{
height: 100px;
/*border-bottom: 1px solid #232323;*/
background-color: transparent;
background-image: url(img/logo.png);
background-position: top left;
background-repeat: no-repeat;
padding: 0;
display: none;
}

#home_link
{
height: 90px;
width: 220px;
background-color: transparent;
float: left;
cursor: pointer;
}

#main
{
min-height: 480px;
background-color: transparent;
padding: 0px;
}

/*
#servicenavigation
{
float: right;
background-color: transparent;
margin-top: 68px;
margin-right: 20px;
font-size: 12px;
display: inline;
}
*/


/* (de) Definition 2 Kolonnen (navigation und spalte 1 */
#navigation
{
height: 100%;
float: left;
width: 200px;
border: 0;
padding-top: 20px;
}


#spalte3
{
height: 100%;
margin-left: 200px;
border: 0;
border-left: 1px solid #232323;
}

#spalte3_inhalt
{
padding: 0px;
}

#spalte2
{
visibility: hidden;
width: 200px;
background-color: red;
float: right;
border: 0;
height: 480px;

}

.clearfix
{
display: block;
}


#footer
{
height: 20px;
color:#323232; 
background: transparent;
padding-left: 20px;
border: 0px;
clear: both;
display: block;
font-size: 11px;
border-top: 1px solid #232323;
}

.img_container_thumb{
	height: auto;
}

/* CSS für Geburtstagsparty */
.img_thumb_rahmen{
	border: 0 solid #646464;
	width: 45px;
}

.titel_seite {
	display: none;
}

.counter{
	display: none
}

#navigation {
	display: none;
}



#spalte3 {
	margin-left: 0px;
}

#spalte3_inhalt {
	padding:20px;
}
