
/*======================================================
  01 Das umgebende DIV gestalten
  ====================================================== */
#navibereich {
	width: 100%;
	background:  yellow;
  height: 2.05em;
  border-top: 1px dashed #444488;
	border-bottom: 0px dashed #E46315;
}

#filler {
	float: left;
	width: 200px;
  height: 2em;
}

#navi {
  float: left;
	width: auto;
  display: table; 
}

.ebene01 {
	background:  yellow;
}

#navi.right {
  float: right;
}

#navi.left {
  float: left;
}

/*======================================================
  02 die ungeordnete Liste in Ebene 1 gestalten
  ======================================================*/
#navi ul {
  margin: 0;
  padding: 0;	
	text-align: center;
	background:  yellow;
}

#navi li  {
  margin: 0;
  padding: 0;	
	float: left; 
	list-style-type: none;
	width: 11em;
}

#navi a {
	text-decoration: none;
  font-size: 1em;
	color: #444488;
	padding: 0.2em 1em 0.3em 1em;
  border-bottom: 2px solid yellow; /* so werden dopplete Borders vermieden */
  border-left: 0.3em solid #6374B3;	
}

#navi a:hover {
	font-weight: bold;	
	color: #6374B3; /* blau */
	color: #E46315;  /* orange */	
	background-color: #dedede;
	border-left: 0.3em solid #E46315;
	border-bottom: 2px solid #E46315;
}

.navi {
	background:  yellow;
}

/*======================================================
  03 Hyperlinks der Ebene 1 gestalten
  ======================================================*/

#navi li a {
	display: block;
  font-weight: bold;
  padding: 0.3em 1em;
}

#navi .active
{
	color: #E46315; 
	border-bottom: 2px solid #F0FFFF; 
	border-bottom: 2px solid #E46315; 
	border-left: 0.3em solid #E46315;
}

/*======================================================
  04 Ebene 2 verstecken
  ====================================================== */
#navi li ul
{
	position: absolute;
	left: -9999px;	
	top: -9999px;
	display: inline;
	width: 0;
	height: 0;
}  

/*======================================================
  05 Ebene 2 sichtbar machen
  li.sfhover ist ein Workaround für IE < Version 7 --> suckerfish.js
  ====================================================== */
#navi li:hover ul,
#navi li.sfhover ul
{
	left: auto;
	top: auto;
	display: block;
	height: auto;
	width: 11em;	
}

/* Korrektur fuer den IE 5 und 6 */
* html #navi li:hover ul, 
       #navi li.sfhover ul {
	margin-left: 0px;    
	ma\rgin-left: -5.5em;    
} 

#navi li ul li a:hover,
#navi li ul li a.sfhover
{
	color: #E46315;  /* orange */
	border-bottom: 1px solid #E46315;
}

/* ==============================================
   06 Die Rausklappliste korrekt einfärben
   ==============================================*/
#navi ul.ebene02 li a { 
	color: #E46315;  /* orange */
	color: #6374B3; /* blau */
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid  #6374B3; /* so werden dopplete Borders vermieden */
 }

