/*************************************************
* Navigation
*************************************************/


#navigation_liste
{
	padding: 0px 10px 10px 20px;
	font-family: "Agency FB", Arial, Helvetica;
	font-size: 2.2em;
	font-weight: bold;
	width: auto;
}

* html #navigation_liste
{
	padding: 0px 10px 10px 20px;
}


#navigation_liste ul
{
	list-style: none;
	margin-left: 0;
	padding: 6px 0;
	padding: 0;
	border: none;
}

#navigation_liste li
{
	line-height: 1.5em;
}

* html #navigation_liste ul {  /* nur fuer Internet Explorer */
/*	line-height: 15px;
 	Version 5.x */
}
* html #navigation_liste li {  /* nur fuer Internet Explorer */
	padding-top: 0px;
/* Version 5.x */
}

#navigation_liste li a:link, #navigation_liste li a:visited
{
	display: block;
	padding: 0px;
	border: 0px;
	background-color: transparent;
	text-decoration: none;
	color: #ff0000;
	font-size: 23px;
	border-bottom: 4px dotted transparent;
}


.aktiv
{
	color: #ff00ff;
}

html>body #navigation_liste li a { width: auto; }

#navigation_liste li a:active, 
#navigation_liste li a:hover,
#navigation_liste li a.active
{
	color: #ff00ff;
	border-bottom: 4px dotted #008000; 
}

* html #navigation_liste ul ul
{
	padding-bottom: 15px;
}

#navigation_liste li li
{
	padding-left: 15px;
	padding-top: 0px;
	margin: 0;
}

* html #navigation_liste li li
{
	padding-bottom: 5px;
}


#navigation_liste li li a:link, #navigation_liste li li a:visited
{
	color: #8C8C8C;
	padding-top: 0px;
	display: block;
	text-decoration: none;
	width: 100%;
}

/* hover und aktiver link der 1. und 2. Ebene der Hauptnavigation */
#navigation_liste ul li.aktiv, #navigation_liste ul li a.aktiv  {
	color: #ffffff;
	font-weight: bold;
 /* 	background-color: #8c8c8c; */
}

