/* CSS-Notationen für den Servicebereich (Menu) */

nav#servicebereich {
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 285px;
  right: 70px;
  width: auto;
  min-width: 329px;
  min-height: 30px;
  height: auto;
  line-height: 30px;
  background-color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /* IE8 */
  filter:Alpha(Opacity=85); /* IE7 */
  opacity: 0.85;
  border: 1px solid #888;
  border-radius: 8px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5) inset, 0px 0px 10px rgba(0,0,0,0.2);  
}

div#service {
  width: 100%;
  position: absolute;
}

div#service a {
  color: #434343;
  text-decoration: none;
  font-weight: bold;
}

div#service a:link, div#servicebereich a:visited {
    color: #434343;
}

div#service a:hover {
    color: #cc6633 !important; /*#ffff66;*/
}


div#servicebereich .left {
  text-align: left;
}

div#servicebereich .right {
  text-align: right;
}

div#service.left {
  float: left;
}

div#service.right {
  float: right;
}

/* Abstad zwischen den Pipes*/
div#service ul {
  padding: 0 5px;
}

div#service ul li.navi {
  list-style-type: none;
  width: auto;
  display: inline;
  color: #ffffff;
}

div#service ul li.navi a {
  padding: 7px 4px 7px 14px;
}

div#service ul li a.active {
  color: #cc6633 !important;
/*  font-style: italic; */
  font-weight: bold;
  
}

@media only screen and (max-width: 1024px) 
{ 
	#servicebereich {
		position: absolute !import;	
	}
}