/* 
    Document   : intro.css
    Created on : 27.11.2010, 16:25:39
    Author     : roland
    Description:
        CSS-Klassen aus main.css werden hier überschrieben,
				um die Home-Seite 
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



