/* ==============================================================================
   Farbgebung an verschiedenen Elementen der Website 
   ==============================================================================*/

/* ==============================================================================
   Die horizontalen und vertikalen Menupositionen gemäss cms_spezial einfärben
   ==============================================================================*/
   
#navi li a.gruen, #navigation_liste ul li a.gruen {
	color: #FFFFFF !important;
	background-color: #459345 !important;
} 

#navi li a.blau, #navigation_liste ul li a.blau {
	color: #FFFFFF !important;
	background-color: #4D7FDE !important;
}   

#navi li a.orange, #navigation_liste ul li a.orange {
	color: #FFFFFF !important;
	background-color: #F2672A !important;
}   

#navi li a.rot,  #navigation_liste ul li a.rot {
	color: #FFFFFF !important;
	background-color: #CC3659 !important;
}   

/* Gelb ist die Defaultfarbe */
.gelb {
	color: #FFFFFF !important;
	background-color: #EBCA30 !important;
}   


/* ==============================================================================
   Klassen zum Anpassen der Unternavigation (horizontal / vertikal)
   ==============================================================================*/
#subnavi_horizontal li a.gruen, #navigation_liste ul ul li li a.gruen {
  color: #459345;
  background-color: #FFFFFF;
}

#subnavi_horizontal li a.blau, #navigation_liste ul ul li li a.blau {
  color: #4D7FDE;
}

#subnavi_horizontal li a.orange, #navigation_liste ul ul li li a.orange {
  color: #F2672A;
}

#subnavi_horizontal li a.rot, #navigation_liste ul ul li li a.rot {
  color: #CC3659;
}

/* ==============================================================================
   Klassen zum Einfärben der rechten Spalte auf jeder Seite
   ==============================================================================*/
#spalte3_inhalt div.gruen, #filler_subnavi_horizontal.gruen {
	background-color: #459345;
} 

#spalte3_inhalt div.blau, #filler_subnavi_horizontal.blau {
	background-color: #4D7FDE;
}   

#spalte3_inhalt div.orange, #filler_subnavi_horizontal.orange {
	background-color: #F2672A;
}   

#spalte3_inhalt div.rot, #filler_subnavi_horizontal.rot {
	background-color: #CC3659;
}   
