/*************************************************
* Navigation
*************************************************/

#navigation_liste
{
	padding: 0; 
	margin: 0;
	margin-left: 14px;
	background-color: #ECECEC;
	width: auto;
}

#navigation_liste li
{
  	margin: 0;
	list-style: none;
}
 
#navigation_liste a,
#navigation_liste strong
{
	display: block;
	padding: 0.2em 0.25em 0.2em 0.75em;
	height: auto;
}

/* IE hasLayout korrigiert den white-space Error im IE 5.* und 6 */
* html #navigation_liste ul,
* html #navigation_liste a,
* html #navigation_liste strong 
{
  height: 1%;
}


#navigation_liste li a:link
{
	color: #333333;
}

#navigation_liste li a:visited
{
	color: #333333;
}

#navigation_liste li a:hover
{
	background-color: #ECECEC;
	color: #DE001F;
}

#navigation_liste li a:focus {
	background-color: transparent
}
 
.aktiv, .active {
	border-left: 0em solid #504539;
	background-color: #ECECEC;
  	color: #DE001F;
}

#navigation_liste li ul
{
  margin: 0;
}

#navigation_liste li li
{
  padding: 0;
  margin: 0;
}

/* Unterpositionen */
#navigation_liste li li a:link, 
#navigation_liste li li a:visited
{
	color: #333333;
	background-color:  #ECECEC;
	padding: 0.3em 0.8em;
	border-left: 1em solid #ECECEC;
	text-decoration: none;
	font-size: 0.9em;
}

#navigation_liste li li a:hover
{
	background-color: #ECECEC;
	color: #DE001F;
}

/* hover und aktiver link der 1. und 2. Ebene der Hauptnavigation */
#navigation_liste ul li.active, #navigation_liste ul li a.active  {
	background-color: #ECECEC;
	color: #DE001F;
	font-weight: bold;
}


