/*________________________Definition fï¿½r Kontakt________*/
fieldset
{
width: auto;
line-height: 20px;
border: none;
}

legend
{ 
color: #323232; 
background-color: inherit;
margin: 0px;
}

label
{ 
float: left;
width: 90px;
margin: 0px;
margin-left: 0px;
}

input, textarea
{ 
width: 282px;
background-color: transparent; 
border: 1px solid #666666;
padding: 2px;
margin: 2px 0px 5px 0px; 
line-height: 20px;
font-size: 13px;
font-style: normal; 
font-weight: 100;
font-family: 'Century Gothic', Helvetica, Arial, Verdana, sans-serif;
/* Scrollbar Definitionen */	
scrollbar-base-color: #999493;
scrollbar-face-color: #999493;
scrollbar-highlight-color: #d7d2d1;
scrollbar-shadow-color: #d7d2d1;
scrollbar-track-color: #999493;
scrollbar-darkshadow-color: #999493;
}

#button
{
width: auto;
margin: 0px;
padding: 0px;
}

.submit 
{ 
margin-left: 90px;
width: 100px;
border-style: solid; 
border-width: 1px 1px 1px 1px; 
border-color: #fff #646464 #646464 #fff;
background-color: inherit;
font-style: normal; 
text-align: center; 

}
.zuruecksetzen 
{ 
margin-left: 17px;
width: 100px;
border-style: solid; 
border-width: 1px 1px 1px 1px; 
border-color: #fff #646464 #646464 #fff;
background-color: inherit;
font-style: normal; 
text-align: center; 
clear: both; 
}
.error
{ 
color: #fff;
}
