/* CSS-Notationen für Fragmente - Erstellt am: 22.05.2010 17:27:08 */

/* Notationen fuer die Homeseite */
div#intro {
  background-color: #dcdcdc;
}

div#introcontent {
  background-color: transparent;
  padding: 1.5em;
  min-height: 380px;
}


/* Grosse Schrift fuer den Titel auf der Homeseite */
.verybig {
  font-size: 30px;
  line-height: 60px;
  margin-top: -50px; /* übersteuert .titel_seite und .counter */
}

/* teaser - auf jeder beliebigen Seite */
.teaserwrapper {
  background-color: #FFFFFF;
  padding: 5px;
  margin: 0;
}

.teaser {
  width: 327px;
  margin: 15px 0;
  padding: 5px;
  background-color: #F0F0F0; /* #CC6666; #9B8C14; */
  float: left;
}

.teasertitle {
  padding: 5px;
  font-size: 20px;
  line-height: 21px;
  color: #434343;
}

.teasertext {
  padding: 5px;
  color: #434343;
}

#teaser1 {
  width: auto;
  background-color: #009999;
}

#teaser1 .teasertext {
  color: #FFFFFF;
}


#teaser2 {
  width: auto;
  background-color: #0066FF;
}

#teaser2 .teasertext {
  color: #FFFFCC;
}


#teaser3 {
  width: 300px;
  background-color: #CC33CC;
}

#teaser3 .teasertext {
  color: #FFFFFF;
}

div#introcontent .teaser ul,
div#introcontent .teaserwrapper ul {
	padding: 0 10px 0 20px;
}

/* CSS-Notationen fuer Links im Footer */
div#impressum {
  position: absolute;
  margin-left: 140px;
}

div#servlinks {
  position: absolute;
  margin-left: 340px;
}

div#reflinks {
  position: absolute;
  margin-left: 545px;
}

div#refpics {
  position: absolute;
  margin-left: 725px; 
}


div#impressum ul, div#reflinks ul, div#servlinks ul {
  list-style-type: none;
}

div#impressum li, div#impressum li a, div#reflinks li a, div#servlinks li a {
  color: #F0F0F0;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 17px;
}

div#impressum li a:hover, div#reflinks li a:hover, div#servlinks li a:hover {
  color: #F0F0F0;
  background-color: transparent;  
  font-weight: normal;
/*  color: #9A8B13;
  text-decoration: underline; */
  background-color: #9A8B13;
}

div#footer li.title {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  color: #F0FFFF;
}

div#teaser2 {
  min-height: 130px;
}
