/*******************************************************************************
 CSS-Notationen fuer die Navigationen
********************************************************************************/

/* Hauptnavigation horizontal */
#navibereich_horizontal {
  background-color: #FFFFFF;
  height: 55px;
  left: 285px;
  line-height: 40px;
  opacity: 0.7;
  position: fixed;
  right: 70px;
  top: 65px;
  width: auto;
}

#filler {
  cursor: pointer;
  float: left;
  height: 25px;
  width: 0px;
}

#navi.left {
    float: left;
}
#navi {
    display: table;
    width: auto;
}

#navi ul {
  margin: 0;
  padding: 0 15px 0 0;
  text-align: center;
}

#navi ul.ebene01 {
  background-color: transparent;
}

#navi ul li a {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
}

#navi li a.active, #klappe li a.active, #sprachen li a.active {
  color: #0099CC !important;
  font-style: italic !important;
  font-weight: bold !important;
  text-decoration: none;
}

