/*************************************************
* Navigation
*************************************************/


#navigation_liste
{
	padding: 0;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	width: 100%;
}

* html #navigation_liste
{
	padding: 40px 10px 10px 20px;
}


#navigation_liste ul
{
	line-height: 20px;
	list-style: none;
	margin-left: 0;
	padding: 0 0 6px 0;
	border: none;
}

#navigation_liste li
{
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #6374B3;
	margin: 0;
}

* html #navigation_liste ul {  /* nur fuer Internet Explorer */
	line-height: 15px;
/* Version 5.x */
}
* html #navigation_liste li {  /* nur fuer Internet Explorer */
	padding-top: 0px;
/* Version 5.x */
}

#navigation_liste li a:link, #navigation_liste li a:visited
{
	display: block;
	padding-left: 10px;
	border-left: 5px solid #6374B3;
	text-decoration: none;
	background-color: transparent;
	color: #E46315;
}

html>body #navigation_liste li a { width: auto; }

#navigation_liste li a:active
{
	color: #232323;
	font-weight: bold;
}

#navigation_liste li a:hover
{
	border-left: 5px solid #E46315;
	color: #6374B3;
	font-weight: bold;
	background-color: #dedede;
}

* html #navigation_liste ul ul
{
	padding-bottom: 15px;
}

/* Unternavigation gestalten */
#navigation_liste li li
{
	padding-left: 0px;
	padding-top: 0px;
	margin: 0;
	border-left: 0px solid #6374B3;
	border-bottom: 0px solid #6374B3;
}

* html #navigation_liste li li
{
	padding-bottom: 5px;
}


#navigation_liste li li a:link, #navigation_liste li li a:visited
{
	color: #E46315;
	padding-top: 0px;
	display: block;
	text-decoration: none;
	width: 100%;
	background-color: transparent;
}

#navigation_liste li li a:hover
{
	color: #6374B3;
	background-color: #dedede;
	width: 185px;
}

/* hover und aktiver link der 1. und 2. Ebene der Hauptnavigation */
#navigation_liste ul li li.aktiv  {
	border-left: 3px solid #E46315;
	color: #6374B3;
	font-weight: bold;
/*	background-color: #dedede; */
}

#navigation_liste ul li a.aktiv  {
	border-left: 5px solid #E46315;
	color: #6374B3;
	font-weight: bold;
	background-color: #dedede;
}

#navigation_liste ul li li a.aktiv  {
	background-color: transparent;
}
