/* zurücksetzen der Innen und Aussenabstände für alle Html Elemnte */
 * {
	margin:0; padding: 0
 }
 
/* (de) Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern */
html{
  	height: 100%
}

body{ 
  	min-height: 101%;
/* (de) Vorgabe der Standardfarben und Textausrichtung */
  	color:  #047391;
  	background-color: #960500;
	background-image: url(../img/web_gigi_orange.jpg);
  	background-repeat : no-repeat;
 	text-align: left;
}

p, li, td {
	font-size: 1em;
}

/* das folgende Statemant verhindert, dass ein Link umrahmt wird, wenn man draufklickt */
*:focus, *:active  {
	outline: none; 
}

/* (de) Layout: Breite, Hintergrund, Rahmen */
#page_margins
{
	width: 95%;
	margin: 35px auto;
	border: 0px;
}

#page
{
	min-height: 600px;
	width: 950px;
}

/* (de) Zentrierung des Layouts in alten IE-versionen */
body
{
	text-align: center;
}
#page_margins
{
	text-align:left;
}
  
#header
{
	height: 100px;
	background-color: #424242;
	background-image: url(../img/logo.png);
	background-position: 20px top;
	background-repeat: no-repeat;
	padding: 0;
	width: 950px;
}

#home_link
{
	height: 90px;
	width: 200px;
	background-color: transparent;
	float: left;
	cursor: pointer;
}

#main
{
	clear: both;
	min-height: 480px;
	padding: 0px;
}


/* (de) Definition 2 Kolonnen (navigation und spalte 1 */
#navigation
{
	width: 200px;
	border: 0;
	float: left;
}

* html #navigation 
{
  width: 197px;
}

#spalte3
{
	margin-left: 200px;
	width: 750px;
	border: 0;
	padding: 0;
}

* html #spalte3
{
  margin-left: 197px;
}


#spalte3_inhalt
{
	margin: 0;
	padding: 0;
	min-height: 480px;
	background-color: #FFFFFF;
}

* html #spalte3_inhalt
{
  height: 400px;
}


#spalte2
{
	visibility: hidden;
	width: 1px;
	background-color: red;
	float: right;	
	border: 0;
	height: 480px;
}

.clearfix
{
	display: block;
}


/* CSS für automatischen Bildwechsler */ 
#imageContainer1 img {
  	display:none;
  	position: absolute;
}
/* Divs im footer verbergen */
div#impressum, div#reflinks, div#servlinks {
  display: none;
}

#footer
{
	clear: both;
	height: 20px;
	width: 730px;
	color: #e4bebd; 
	background: #047391;
	margin-left: 200px;
	padding-left: 20px;
	border: 0px;
	display: block;
	font-size: 11px;
	border-top: 1px solid #232323;
}

* html #footer 
{
  width: 750px;
}

.error {
  color: #DE001F 
}

.img_container_thumb {
	height: auto;
}

/* CSS für Bilder-Leiste */
.img_medium_left, .img_medium_right {
	height: 300px;
	background-color: transparent;
	padding-bottom: 5px;
}

#bildleiste_wrapper {
	width: 300px;
	float: right;
}

.bildleiste {
	width: 9px; 
	height: 9px; 
	float: left;  
	margin-top: 5px;
	border: 0px solid black;
}

.bildleiste_space {
	width: 18px; 
	height: 9px; 
	float: left; 
	background-color: transparent;
}


.rect_aktiv {
	background-color: #FF66FF; 	
}

.rect_passiv {
	background-color: #1C5069; /*#535250; */
}
