
/*======================================================
  01 Das umgebende DIV gestalten
  ====================================================== */
#navibereich {
	width: 950px;
	background:  #FFFFFF;
  	height: 2.2em;
  	border-bottom: 0px solid #960500;
}

#filler {
	float: left;
	width: 200px;
  	height: 2.2em;
  	background-color: #960500;
}

#navi {
  	float: left;
	width: auto;
  	display: table; 
}

.ebene01 {
	background-color:  #FFFFFF;
	color: #047391;	
}

#navi.right {
  float: right;
}

#navi.left {
  float: left;
}

/*======================================================
  02 die ungeordnete Liste in Ebene 1 gestalten
  ======================================================*/
#navi ul {
  	margin: 0;
  	padding: 0;	
	text-align: center;
	background:  #FFFFFF; /*#960500;*/
}

#navi li  {
  	margin: 0;
  	padding: 0;	
	float: left; 
	list-style-type: none;
	width: 11em;
	text-transform: uppercase;
	border-right: 0px dashed #047391; 
	border-bottom: 0px dashed #047391;
}

#navi li a {
	text-decoration: none;
  	font-size: 1em;
}

#navi li a:hover {
	font-weight: bold;	
  	color: #FFFFFF;
  	background-color: #047391;
}

.navi {
	color: #047391;
	background: #FFCCFF;
	/*#960500;
	*/
}

/*======================================================
  03 Hyperlinks der Ebene 1 gestalten
  ======================================================*/

#navi li a {
	display: block;
 	font-weight: bold;
  	padding: 0.33em 1em;
	color: #047391;	
}

/* ==========================================================================================
	Spezifität erhöhen -> nützt aber leider nur, solange der Cursor mit gedrücketer Maustaste über dem Link ist.
	Damit der Link Weiss mit schwarzer Schrift bleibt, muss in nav.php die CSS-Klasse .active gesetzt werden. 
	========================================================================================= */
#navi li a:active
{
	color: #FFFFFF !important;
	background-color: #047391 !important;
}

.active
{
	color: #FFFFFF !important;
	background-color: #047391 !important;
}

/*======================================================
  04 Ebene 2 verstecken
  ====================================================== */
#navi li ul
{
	position: absolute;
	left: -9999px;	
	top: -9999px;
	display: inline;
	width: 0;
	height: 0;
}  

/*======================================================
  05 Ebene 2 sichtbar machen
  li.sfhover ist ein Workaround für IE < Version 7 --> suckerfish.js
  ====================================================== */
#navi li:hover ul,
#navi li.sfhover ul
{
	left: auto;
	top: auto;
	display: block;
	height: auto;
	width: 11em;	
}

/* Korrektur fuer den IE 5 und 6 */
* html #navi li:hover ul, 
       #navi li.sfhover ul {
	margin-left: 0px;    
	ma\rgin-left: -5.5em;    
} 

/* ==============================================
   06 Die Rausklappliste korrekt einfärben
   ==============================================*/
#navi ul.ebene02 li a { 
  	border-top: 0px solid #047391;
	border-left: 1em solid #047391;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
	background-color: #FFCCFF; 
 }

#navi ul.ebene02 li a:hover {
	background-color: #047391;
	color: #FFFFFF;
} 
