/* Icon-Font laden 																				*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

.fontawesome-align-justify {
	display: none;
}


@media only screen and (max-width: 480px) 
{
	
	#servicebereich, #navibereich_horizontal, #main  {
		left: 0px !important;
		right: 0px !important;
		border-radius: 0px !important;
		opacity: 1.0 !important;
	}
	
	#main:before {
		clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	}
	
	#main {
		top: 50px;
		display: block;	
		height: auto !important;
	}
	
	#navibereich_horizontal  {
		position: absolute;
		display: block;
		height: auto;
		line-height: 30px;
	}
	
	#navi, #navi ul {
		width: 97%;	
	}

	
	#navi ul li {
		clear: both;
		width: 100%;
		padding: 0px;
		border-bottom: 1px dotted #555555;
	}
	
	#navi ul li a {
		padding: 0px 15px;
	}


	#subnavibereich_horizontal {
		display: inline;
		display: none;
	}
	
	.fontawesome-align-justify {
		display: block;
		float: right;
		padding-right: 15px;
		color: #434343;
		line-height: 30px;	
		font-size: 28px;
		cursor: pointer;
		position: relative;
	}
} 


