/*******************************************************************************
 CSS-Notationen fuer Untermenupositionen unterhalb der horizontalen Navigation
********************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_horizontal {
  border-radius: 10px;
  position: fixed;
  top: 140px;
  left: 70px;
  width: 207px;
  height: auto;
  min-height: 35px;
  background-color: #ffffff;	
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /* IE8 */
  filter:Alpha(Opacity=85); /* IE7 */
  opacity: 0.85;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5) inset, 0px 0px 10px rgba(0,0,0,0.2);  
}

#filler_subnavi_horizontal {
  clear: both;
  background-color: inherit;	
  padding-left: 0px;
}

#subnavi_horizontal {
  float: left; /* default: rechts -> kann im spezifischen CSS �berschrieben werden */
  overflow: hidden;
  width: auto;
  display: table; /* mit display table erscheinen die SubMenues ueBER den anderen DIV's */
  background-color: #ffffff;
  margin: 20px 15px;
}

#subnavi_horizontal.left {
  float: left;
}

#subnavi_horizontal.right {
  float: right;
}

/*_________Format fuer Linksverhalten innerhalb des subnavis */
#subnavi_horizontal ul  {
  background-color: inherit;
	padding: 0px ;
  list-style-type: none;
}

#subnavi_horizontal ul li {
	padding: 0px;
}

#subnavi_horizontal ul li a {
  color: #434343;
  background-color: #ffffff;
  line-height: 25px;
  padding: 5px 0px;
}

#subnavi_horizontal ul li a.active {
  color: #0099cc;
  background-color: inherit;
  font-weight: bold;
/*  font-style: italic; */
}


/*_________Pseudoklassen fuer links im subnavi_h-container */

#subnavi_horizontal a:visited {
	color:  #434343;
    font-weight: bold;
}

#subnavi_horizontal li:hover, #subnavi_horizontal li a:hover {
    color: #0099cc;
    font-weight: bold;
}

/* hover und aktiver link */
#subnavi_horizontal a.subactive, #subnavi_horizontal li.active  {
	color: #d90000;
	background-color: #FFFFFF;
}


/* -------------------- Media Queries -------------------- */
@media only screen and (max-width: 1024px) 
{ 
}

@media only screen and (max-width: 860px) 
{ 	
	#subnavi_horizontal {
		display: block;
		background-color: transparent !important;
		padding: 0px 20px;
		margin: 0px !important;
		width: auto;
    border-radius: 0px;
    opacity: 0.85;
	}

	#subnavi_horizontal ul li {
		background-color: transparent !important;
		display: inline;	
		padding: 0px;
	}
	
	#subnavi_horizontal ul li a {
		background-color: transparent !important;
		display: inline;			
		width: auto;
		line-height: 30px;
		padding: 3px 15px 3px 0px;
	}
}

@media only screen and (max-width: 480px) 
{ 
  #subnavibereich_horizontal {
    min-height: 0px !important;
  }

	#subnavi_horizontal {
    background-color: #ffffff !important;
    min-width: 290px;
    float: none !important;
		border-bottom: 1px dotted #555555;
  }
}

/*******************************************************************************
 CSS-Notationen fuer Untermenupositionen unterhalb der vertikalen Hauptnavigation
********************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_vertikal {
  background-color: #FFFFFF;
  position: fixed;
  top: 140px;
  left: 70px;
	width: 207px;
  opacity: 0.85;
	height: auto;
  border-radius: 10px;
}

#filler_subnavi_vertikal {
	clear: both;
	background-color: inherit;	
	height: 2em;
}

#subnavi_vertikal {
	overflow: hidden;
	margin: 20px 0;
	display: table; /* mit display table erscheinen die SubMenues ueBER den anderen DIV's */
	background-color: #FFFFFF;	
  overflow: hidden;
  width: 100%;
}

/*_________Format fuer Linksverhalten innerhalb des subnavis */
#subnavi_vertikal ul  {
  background-color: inherit;
  padding: 0;
  list-style-type: none;
}

#subnavi_vertikal ul li a {
  color: #434343;
  background-color: #ffffff;
  display: block;  
  padding: 0.3em 1.4em;
  font-size: 16px;
}

/* hover und aktiver link */
#subnavi_vertikal ul li a.active, #subnavi_vertikal ul li.active  {
  color: #0099cc !important;
  background-color: inherit;
  font-style: italic;
  font-weight: bold;
}

/*_________Pseudoklassen fuer links im subnavi-container */

#subnavi_vertikal ul li a:visited {
	color: #434343;  
  font-weight: bold;
}

#subnavi_vertikal ul li:hover, #subnavi_vertikal ul li a:hover {
	color: #0099cc;
	font-weight: bold;
}

#subnavi_vertikal.left {
  float: left;
}

#subnavi_vertikal.right {
  float: right;
}
