/* zur�cksetzen der Innen und Aussenabst�nde f�r alle Html Elemente */
* {
 margin:0; padding: 0
 }
 
/* (de) Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern */
html{
  height: 100%;
  font-size: 85%;
}

body{ 
  min-height: 100%;
  /* (de) Vorgabe der Standardfarben und Textausrichtung */
  color: #232323;
  background: #DDD6A5 url(../img/bg0.jpg) repeat-x scroll 50% 0;
  background: #EDE9C5 url(../img/bg2.jpg) repeat-x scroll 50% 0;
  text-align: left;
  font-size: 95%;
}

p, li, td {
	font-size: 1em;
}

/* das folgende Statemant verhindert, dass ein Link umrahmt wird, wenn man draufklickt */
*:focus, *:active  {
	outline: none; 
}


/* (de) Layout: Breite, Hintergrund, Rahmen */
#page_margins
{
	width: 960px;
	margin: 30px auto;
	border: 0px solid black; 
}

#page
{
	min-height: 600px;
}

/* (de) Zentrierung des Layouts in alten IE-versionen */
body
{
	text-align: center;
}
#page_margins
{
	text-align:left;
}
  
#header
{
	height: 100px;
	background-color: #F4F3E9;
	background-image: url(../img/logo_hempenweb.png);
	background-position: 150px 10px;
	background-repeat: no-repeat;
	padding: 0;
}

#home_link
{
	height: 100px;
	width: 360px;
	background-color: transparent;
	float: left;
	cursor: pointer;
}

#main
{
	clear: both;
	min-height: 500px;
/*	background-color: #9B8C14; */
	background-color: #F4F3E9;
	padding: 0;
}

/* (de) Definition 2 Kolonnen (navigation und spalte 1 */
#navigation
{
	float: left;
	width: 20%;
}

#spalte3
{
	margin-left: 14%; /* 20%; */
	border: 0;
/*	border-left: 1px solid #232323; */
}

#spalte3_inhalt
{
  margin: 0;
	padding: 0;
	min-height: 500px;
	background-color: #F4F3E9;
	border-left: 0px solid #232323;
}

* html #spalte3_inhalt {
  height: 500px;
}

#spalte3_inhalt ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 14px;
}

#spalte3_inhalt ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 18px;
}

#spalte3_inhalt ul li, #spalte3_inhalt ol li {
  line-height: 20px;
}

#spalte2
{
  display: none;
  width: 250px;
  background-color: red;
  float: right;
  border: 0;
  min-height: 500px;
}

* html #spalte2 {
  height: 500px;
}

.spalte_420_r {
	width: 420px;
}

.subspalte_kuenstlerdetail, .subspalte_auswahl {
	padding: 0 17px;
}

.subspalte_detail_l {
	padding: 0 20px;
}

.subspalte_home_l {
	padding: 25px 0 0 40px;
}

.subspalte_home_r {
	padding: 15px 15px 0 0;
}

.counter {
	min-height: 10px;
	height: auto;
}

.clearfix
{
  display: block;
}

/* pageslider */
.slider {
	color: #938356;
	font-weight: bold;
}

#introbild img {
  padding: 0 20px;
  width: 670px;
  height: 290px;
}


/* CSS f�r automatischen Bildwechsler */ 
#imageContainer1 img {
  	display:none;
  	position: absolute;
}

#footer
{
	height: 20px;
/*	background-color: #1C5069; 
	color: #938356; */
	background:  #1C5069 url(img/menubg1.jpg) repeat-x;	
  color: #F0FFFF; 
	padding-left: 20px;
	padding-top: 5px;
	border: 0px;
	clear: both;
	display: block;
	font-size: 11px;
	border-top: 0px solid #232323;
}

div#impressum, div#reflinks, div#servlinks {
  display: none;
}


.img_container_thumb{
	height: auto;
}

.img_medium_left, .img_medium_right {
	height: 300px;
	background-color: transparent;
	padding-bottom: 5px;
	padding-left: 0;
}

/* CSS f�r Bilder-Leiste */
#bildleiste_wrapper {
	width: 300px;
}

.bildleiste {
	width: 9px; 
	height: 9px; 
	float: left;  
	margin-top: 5px;
	border: 0px solid black;
}

.bildleiste_space {
	width: 18px; 
	height: 9px; 
	float: left; 
	background-color: transparent;
}

.rect_aktiv {
	background-color: red; 	
}

.rect_passiv {
	background-color: #1C5069; /*#535250; */
}

.error {
  color: #232323;
  }
