/*******************************************************************************
 CSS-Notationen für Untermenupositionen unterhalb der horizontalen Navigation
********************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_horizontal {
	width: 100%;
	height: auto;
	min-height: 1.7em;
	background-color: #9E987E;	
}

#filler_subnavi_horizontal {
	clear: both;
	background-color: inherit;	
	padding-left: 200px;
}

#subnavi_horizontal {
	float: right; /* default: rechts -> kann im spezifischen CSS überschrieben werden */
	overflow: hidden;
	width: auto;
	margin: 0;
	padding: 0;
	padding-left: 200px;
	display: table; /* mit display table erscheinen die SubMenues ÜBER den anderen DIV's */
	background-color: inherit;	
}

#subnavi_horizontal.left {
	float: left;
}

#subnavi_horizontal.right {
	float: right;
}

/*_________Format fuer Linksverhalten innerhalb des subnavis */
#subnavi_horizontal li, 
#subnavi_horizontal a {
	color:   #504539;
	background-color: inherit;
	display: block;
	float: left;
	padding: 0;
}

#subnavi_horizontal li  {
	background-color: inherit;
	padding: 0;
}

#subnavi_horizontal a {
	padding: 0.2em 1em;
}

/*_________Pseudoklassen fuer links im subnavi_h-container */

#subnavi_horizontal a:visited {
	background-color: inherit;
	color:  #504539;
}

#subnavi_horizontal li:hover, #subnavi_horizontal li a:hover {
	color:  #504539;
	background-color: #C1AD79;
	color:  #d90000;
	background-color: #F0F080;
}

/* hover und aktiver link */
#subnavi_horizontal a.subactive, #subnavi_horizontal li.active  {
	color: #F0F080;
	background-color: #d90000;
	color: #d90000;
	background-color: #F0F080;
}
/*******************************************************************************
 CSS-Notationen für Untermenupositionen unterhalb der vertikalen Hauptnavigation
********************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_vertikal {
	width: 200px;
	height: auto;
	background-color:  #504539;
	border-bottom: 0px dashed  #d7d2d1;	
}

#filler_subnavi_vertikal {
	clear: both;
	background-color: inherit;	
	height: 2em;
}

#subnavi_vertikal {
	float: right; /* default: rechts -> kann im spezifischen CSS überschrieben werden */
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: table; /* mit display table erscheinen die SubMenues ÜBER den anderen DIV's */
	background-color: inherit;	
}


/*_________Format fuer Linksverhalten innerhalb des subnavis */
#subnavi_vertikal li, 
#subnavi_vertikal a {
	color: #F0F080;
	display: block;
	width: 173px;
}

#subnavi_vertikal li {
	padding: 0.2em 0.75em 0.2em 1.3em;
	font-size: 1em;
	width: auto;
}

/*_________Pseudoklassen fuer links im subnavi-container */

#subnavi_vertikal a:visited {
	background-color: inherit;
	color: #F0F080;
}

#subnavi_vertikal li:hover, #subnavi_vertikal li a:hover {
	color: #ffffff;
	font-weight: bold;
	background-color: #d90000;
}

/* hover und aktiver link */
#subnavi_vertikal a.subactive, #subnavi_vertikal li.active  {
	color: #ffffff;
	font-weight: bold;
	background-color: #d90000;
}


