/* Servicenavigation */

@media screen {

#servicenavigation  {
	overflow: hidden;
	width: 100%;
   	background-color: transparent;
	/* unter Border-linie mittels Hintergrundbild 
	background: transparent url(../../shared/gifs/border-bottom.gif) repeat-x left bottom;*/
}

/* IE Hack: hasLayout für IE5.x und 6 */
* html #servicenavigation { height: 1%;	}

#servicenavigation ul
{
   	float: right;  
  	width: auto; /* "schrumpft" die Liste */
   	margin-bottom: 0;
 	margin-right: 20px;
 	border-right: 1px solid #000000; /* rechter Rand hier setzen */
}


#servicenavigation li
{
 	float: left;
	width: auto;
	list-style-type: none;
	margin: 0;
	margin-right: 0.0em;
}

#servicenavigation a,
#servicenavigation strong
{
	display: block;
    background-color: transparent;
	color: #444488;
	font-size: 12px;
    font-weight: bold;
	padding: 2px 8px;	
}

#servicenavigation a:link,
#servicenavigation a:visited
{
    background-color: transparent;
    color: #323232;
	border-left: 1px solid #000000; 
	border-top: 1px solid transparent; 
	border-bottom: 1px solid transparent; 	
}


#servicenavigation a:hover,
#servicenavigation a:active,
#servicenavigation a:focus
{
	color: #F0FFFF;
	background-color: transparent;
	border-top: 1px solid #F0FFFF; 
	border-bottom: 1px solid #F0FFFF; 
}

.hide 
{
display: none;
}

} /* Ende von media=Screen */