/*******************************************************************************
 CSS-Notationen f�r Untermenupositionen unterhalb der horizontalen Navigation
********************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_horizontal {
	width: 100%;
	height: auto;
	min-height: 1.6em;
	background-color: #ECECEC;	
}

#filler_subnavi_horizontal {
	clear: both;
	background-color: inherit;	
	padding-left: 200px;
}

#subnavi_horizontal {
	float: right; /* default: rechts -> kann im spezifischen CSS �berschrieben werden */
	overflow: hidden;
	width: auto;
	margin: 0;
	padding: 0;
	padding-left: 192px;
	display: table; /* mit display table erscheinen die SubMenues �BER den anderen DIV's */
	background-color: inherit;	
}

#subnavi_horizontal.left {
	float: left;
}

#subnavi_horizontal.right {
	float: right;
}

/*_________Format fuer Linksverhalten innerhalb des subnavis */
#subnavi_horizontal li, 
#subnavi_horizontal a {
	color:   #333333;
	background-color: inherit;
	display: block;
	float: left;
	padding: 0;
}

#subnavi_horizontal li  {
	background-color: inherit;
	padding: 0;
}

#subnavi_horizontal a {
	padding: 0.2em 1em;
}

/*_________Pseudoklassen fuer links im subnavi_h-container ___*/

#subnavi_horizontal a:visited {
	background-color: inherit;
	color:  #333333;
}

#subnavi_horizontal li:hover, #subnavi_horizontal li a:hover {
	color: #DE001F;
	background-color: #ECECEC;
}

/* hover und aktiver link */
#subnavi_horizontal a.subactive, #subnavi_horizontal li.active  {
	color: #DE001F;
	background-color: #ECECEC;
}

/*********************************************************************************************
 CSS-Notationen f�r Untermenupositionen unterhalb der vertikalen Hauptnavigation
*********************************************************************************************/
/*_________Definition des subnavi-containers */

#subnavibereich_vertikal {
	width: 200px;
	height: auto;
	background-color: transparent;	
}

#filler_subnavi_vertikal {
	clear: both;
	background-color: inherit;	
	border-bottom: 0px solid #232323;	
}

#subnavi_vertikal {
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: table; /* mit display table erscheinen die SubMenues �BER den anderen DIV's */
	background-color: inherit;
	width: 192px;
}


/*_________Format fuer Linksverhalten innerhalb des subnavis ____________*/
#subnavi_vertikal ul {
  padding-left: 0px;
  list-style-type: none;
}

#subnavi_vertikal li, 
#subnavi_vertikal a {
	color: #333333;
	background-color:  #ECECEC; 
	display: block;
	font-weight: bold;
}

/* Link innerhalb LI gestalten */
#subnavi_vertikal a {
	background-color:  #ECECEC;
/*	padding: 0.3em 0em 0.3em 0.8em;  */
	padding-left: 24px;
	font-size: 1em;
}

/*_________Pseudoklassen fuer links im subnavi-container */

#subnavi_vertikal a:visited {
	background-color: inherit;
	color: #333333;
}

/* hovern und aktiver link */
#subnavi_vertikal li:hover, #subnavi_vertikal li a:hover {
	color: #DE001F;
	font-weight: bold;
	width: auto; /* vermeidet einen weissen Strich im IE */
	background-color: #ECECEC;	
}

/* aktiver link */
#subnavi_vertikal a.subactive, #subnavi_vertikal li.active  {
	color: #DE001F;	
	font-weight: bold;
	background-color: #ECECEC;
	width: auto; /* vermeidet einen weissen Strich im IE */
}




