/* Servicenavigation */

@media screen {

/*======================================================
  01 Das umgebende DIV gestalten
  ======================================================*/
#navibereich {
	background-color:  #504539;
}

#filler {
	background-color:  #504539;
}

#servicenavigation  {
	background-color:  #504539;
	float: right;
}

/*======================================================
  03 Hyperlinks der Ebene 1 gestalten
  ======================================================*/
#servicenavigation a
{
	color: #444488;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.3em 1em;
}

#servicenavigation a:hover,
#servicenavigation a:focus
{
	color: #F0FFFF;
	background-color: #d90000;
}


/* ==========================================================================================
	Spezifität erhöhen -> nützt aber leider nur, solange der Cursor mit gedrücketer Maustaste über dem Link ist.
	Damit der Link Weiss mit schwarzer Schrift bleibt, muss in nav.php die CSS-Klasse .active gesetzt werden. 
	========================================================================================= */
#page_margins #page #navibereich #servicenavigation #ebene01  li a:active
{
	color: #FFFFFF !important;
	background-color: #d90000 !important;
}

.active
{
	color: #FFFFFF !important;
	background-color: #d90000 !important;
}

/*======================================================
  05 Ebene 2 sichtbar machen
  ======================================================*/
#servicenavigation li:hover ul,
#servicenavigation li.sfhover ul
{
	color: #F0FFFF;
	background-color: #d0d0d0;
}
  

/* ==============================================
   06 Die Rausklappliste korrekt einfärben
   ============================================== */
/* Spezifität erhöhen */
#servicenavigation ul#ebene01 ul.ebene02 li a { 
   background-color: #fff3c0; 
}

/* Spezifität erhöhen */
#servicenavigation ul#ebene01 ul.ebene02 li a:hover {
   background-color: #ffe05a;
}

#servicenavigation li li a:hover
{
	background-color: #d90000;
}


} /* Ende von media=Screen */
