/* alle Schriftgroessen auf Standardschriftgroesse (16 Pixel) zuruecksetzen */
html * { font-size: 100.01% }

  
/* Basis-Layout erhaelt Schriftgroesse 13 Pixel */
body, td
{
	font-family: 'Century Gothic', Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	vertical-align: top;
}

table {
	width: 100%;
	border: 0;
}

/* Definition von p, titles, links */  
p
{
font-size: 13px;
line-height: 20px;
margin: 0;
color: #323232;
}

h1
{
font-size: 15px;
font-weight: bold;
color: #fff;
line-height: 20px;
margin: 0;
white-space: nowrap;
}

h2
{
font-weight: bold;
color: #323232;
line-height: 20px;
margin: 0;
border-top: 1px solid #646464;
border-bottom: 1px solid #646464;
}

h2.ohnelinien
{
font-weight: bold;
color: #323232;
line-height: 20px;
margin: 0;
border: none;
}

h3
{
font-weight: bold;
color: #323232;
line-height: 20px;
margin: 0;
}


a:link, a:visited
{
color: #DCDCDC;
text-decoration: none;
}