/* zurücksetzen der Innen und Aussenabstände für alle Html Elemente */
* {
 margin:0; padding: 0
 }
 
/* (de) Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern */
html{
  height: 100%
  font-size: 85%;
}

body{ 
  min-height: 100%;
  /* (de) Vorgabe der Standardfarben und Textausrichtung */
  color: #232323;
  background-color: #999967;
  background-image: url(../gifs/bg_4x4.gif);
  text-align: left;
  font-size: 90%;
}

/* das folgende Statemant verhindert, dass ein Link umrahmt wird, wenn man draufklickt */
*:focus, *:active  {
	outline: none; 
}


/* (de) Layout: Breite, Hintergrund, Rahmen */
#page_margins
{
	width: 960px;
	margin: 20px auto;
	border: 1px solid black; 
}

#page
{
	min-height: 600px;
}

/* (de) Zentrierung des Layouts in alten IE-versionen */
body
{
	text-align: center;
}
#page_margins
{
	text-align:left;
}
  
#header
{
	height: 100px;
	background-color: #504539;
	background-image: url(../img/banner.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 0;
}

#home_link
{
	height: 100px;
	width: 360px;
	background-color: transparent;
	float: left;
	cursor: pointer;
}

#main
{
	clear: both;
	min-height: 500px;
	background-color: #938356;
	padding: 0;
}

/* (de) Definition 2 Kolonnen (navigation und spalte 1 */
#navigation
{
	float: left;
	width: 20%;
}


#spalte3
{
	margin-left: 20%;
	border: 0;
/*	border-left: 1px solid #232323; */
}

#spalte3_inhalt
{
  margin: 0;
	padding: 0;
	min-height: 500px;
	background-color: #F0FFFF;
	border-left: 0px solid #232323;
}

* html #spalte3_inhalt {
  height: 500px;
}

#spalte2
{
  display: none;
  width: 250px;
  background-color: red;
  float: right;
  border: 0;
  min-height: 500px;
}

* html #spalte2 {
  height: 500px;
}

.clearfix
{
  display: block;
}


#footer
{
	height: 20px;
	/* color:#323232;
	background-color: #C1AD79;  */
	background-color: #504539;
	color: #938356;
	padding-left: 20px;
	border: 0px;
	clear: both;
	display: block;
	font-size: 11px;
	border-top: 1px solid #232323;
}

/* Divs im footer verbergen */
div#impressum, div#reflinks, div#servlinks {
  display: none;
}

.img_container_thumb{
	height: auto;
}

.img_medium_left, .img_medium_right {
	height: 300px;
	background-color: transparent;
	padding-bottom: 5px;
}

/* CSS für Bilder-Leiste */
#bildleiste_wrapper {
	width: 300px;
	float: right;
}

.bildleiste {
	width: 9px; 
	height: 9px; 
	float: left;  
	margin-top: 5px;
	border: 0px solid black;
}

.bildleiste_space {
	width: 6px; 
	height: 15px; 
	float: left; 
	background-color: transparent;
}


.rect_aktiv {
	background-color: red; 	
}

.rect_passiv {
	background-color: #1C5069; /*#535250; */
}

/* CSS für automatischen Bildwechsler */ 
#imageContainer1 img {
  display: none;
  position: absolute;
  max-width: 500px;
  max-height: 300px;
}

