/*****************************/
/*** Core html setup stuff ***/
/*****************************/

html, body {
  height: 100.1%;  /* wichtig */
  margin-bottom: 1px;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

body {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	line-height: 1.3em;
	font-size: 0.9em;
	color: #047391;
	background-color: #960500;
	background-image: url(img/web_gigi_rot.jpg);
	font-weight: normal;
	background-repeat : no-repeat;
}

h1 {
	font-family: Georgia,Times, Unicode MS;
	font-size: 1.6em;
	color: #960500;
  font-weight: normal;
}

h2 {
	font-family: Georgia, Times, Unicode MS;
	font-size: 1.2em;
	color: #960500;
  font-weight: normal;
}

h3 {
	font-family: Georgia,Times, Unicode MS;
	font-size: 0.9em;
	color: #960500;
  font-weight: normal;
}

p { margin-top: -10px; }

input.button { cursor: pointer; }

img { border: 0 none; }

.hide { display: none; } 
 
/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

div.center {
  text-align: center;
}

div#bodywrapper {
	margin-left: auto;
	margin-right: auto;	
  border: 0px solid yellow;
	min-height: 100%;
	height: auto !important; /* moderne Browser */
	height: 100%; /* IE */
}

div#mainmenu {
	padding-top: 152px;
	padding-left: 128px;
  line-height: 160%;
  vertical-align: middle;
	width: auto; /* 640px; */
	border: 0px solid yellow;
}

div#contentwrapper {
  overflow: auto;  
  width: 1048px;
}

div#pathway {
  position: relative;
	padding: 5px 0px;
	width: 600px;
	text-align: left;
	background-color: transparent; /*#960500;*/
}


div#contentarea {
	background-color: #FFF7E8;
	min-height: 640px; 
	height: 100%;
	width: 600px;
	float: left;
}

div#content {
  padding: 0px 10px;
	width: 600px;
	wid\th: 580px; /* IE 6 */
}

div#left {
	background: transparent;
	min-height: 500px;
	width: 128px; 
	float: left;
}

div#right {
	background: transparent;
  margin-top: 128px;
	min-height: 500px;
	overflow: hidden;
	width: 250px;
	float: left;
}

div#bildarea {
	height: 128px;
	background-color: #3399CC;
}


div#footer {
	clear: both;
	position: relative;
	margin: 0px;
  margin-left: 128px;
  padding-left: 10px;
	bottom: 0px;
	width: 590px;
	background-color: #047391;
	color: ButtonFace;
	font-size: 90%;
}



#search {
	float: right;
	width:320px;
	margin-top: -20px;
	margin-right: 30px;
	height: 40px;
	overflow: hidden;
	text-align:right;
}

form#searchForm input {
	vertical-align: middle;
}

ul.content {
  margin-top: -10px;
}

li.tanz {
  list-style-image: url(/gigi/templates/gigi/images/bullet.png);
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.3em;
  margin: 0;
  padding-left: 8px;

}

/*****************************************/
/*** Menu rechts ***/
/*****************************************/

li {
  margin-left: -20px;
	list-style: none;
	text-transform: uppercase;
	line-height: 1.5em;
  letter-spacing: 0.1em;
}

a:link, a:visited {
  padding-left: 0.5em;
	text-decoration: none;
	font-weight: normal;
	color: #e4bebd;
}

a:hover {
	text-decoration: none;
	color: white;
}

.active {
	color: white;
}

#right li.active a {
  color: white; 
}

#right li.active ul {
  /* Hintergrundfarbe in den untergeordneten List-Elementen überdeckt den blauen Balken */ 
  background-color: #960500;
}

#current {
  background-color: #047391; /* blauer Balken */
}

